/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Use Roboto as the default font */
    background-color: #140c2c; /* Primary background color */
    color: #ffffff; /* Primary text color */
}

header {
    background-color: #9a80e9; /* Secondary background color for header */
    color: #140c2c; /* Primary text color for header */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ffffff; /* Background color for navigation */
    padding: 10px 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: #140c2c; /* Primary text color for navigation links */
    text-decoration: none;
    margin: 0 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Example: 2 columns */
    grid-gap: 20px;
}


.game-info {
    color: #9a80e9; /* Secondary text color for headings */
    float: right; /* Move the h2 to the right */
    width: 65%; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better visibility */
    box-sizing: border-box; /* Include padding in width calculation */
}

.colored {
    color: #f3c24c; /* Accent color for specific paragraphs */
    clear: both;
}

footer {
    background-color: #140c2c, transparent; /* Primary background color for footer */
    color: #9a80e9; /* Primary text color for footer */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


img:hover {
    opacity: .6;
    transform: scale(1.04);
}

img {
    margin: 0 auto;
    max-width: 50%;
    width: 30%;
    align-self: flex-end;
    height: auto;
    transition: transform .5s;

}

section {
    margin-top: 20px;
}

.Metacritic,
.Review {
    color: white; /* Secondary text color for headings */
    float: right; /* Move Metacritic and Review to the right */
    width: 65%; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better visibility */
    box-sizing: border-box; /* Include padding in width calculation */
    clear: both;
}

.Review p {
    margin-bottom: 20px; /* Add margin bottom for spacing between paragraphs */
}

.Info {
    margin-top: 10px;
    margin-bottom: 50px;
}

.Info p {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    /* Add responsive styles here */
    .main-content {
        grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    }
}